<H1>Organization</H1>

<div class="container">
  <!-- <div class="alert alert-warning" *ngIf="orgaizationForm.dirty && orgaizationForm.invalid">Enter valid values</div>
  <div class="alert alert-warning" *ngIf="orgaizationForm.dirty && targetDate.invalid">Enter valid Target Date</div>
  <div class="alert alert-warning" *ngIf="orgaizationForm.dirty && description.invalid">Enter atleast 5 characters in Description</div> -->

  <form [formGroup]="createOrganizationForm" (ngSubmit)="saveorgaization()">
    <fieldset class="form-group">
      <label>Name</label>
      <input
        type="text"
        [formControlName]="'organizationName'"
        class="form-control"
        style="margin-top: 5px"
        placeholder="Title"
      />
    </fieldset>

    <fieldset class="form-group">
      <label>Description</label>
      <input
        type="text"
        [formControlName]="'organizationDescription'"
        class="form-control"
        style="margin-top: 5px"
        placeholder="Title"
      />
    </fieldset>

    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
